@import "scss/abstracts/colors";
@import "scss/abstracts/mixins";

.home .container .card div .carousel {
  padding: 0;
  .maxMobile {
    max-height: calc(15 * 50px);
    max-width: calc(7 * 50px);
    width: auto;
    margin: auto;
  }
}

.carousel-caption {
  position: initial !important;
}

@include breakpoint(upToTablet) {
  .home .container .card div .carousel {
    @include flex-col-spaceEvenly;
    align-items: center;
    min-height: 100vh;
  }
  .carousel-inner {
    display: flex;
    align-items: center;
  }
  .carousel-indicators {
    bottom: -20px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    filter: brightness(0);
  }
}
