@import "scss/abstracts/mixins";

.home {
  background: linear-gradient(white, black);

  .banner {
    margin: auto;
    padding: 2em;
    width: 100vh;
    h2 {
      font-size: 2em;
      font-weight: 100;
      font-family: "Work Sans";
      color: white;
      white-space: nowrap;
      text-align: center;
      margin: 40% auto auto;
      border-bottom: solid 1px #ccc;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      padding: 0.25em;
      width: 300px;
      backdrop-filter: blur(4px);
    }
  }
  .container {
    height: 400vh;
    margin: auto;
    overflow: clip;
    padding: 0 2rem;
    max-width: 1200px;
    .card {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 600px;
      grid-gap: 6px;
      margin: 100px 0 400px 0;
      img {
        height: 100%;
        width: 100%;
      }
      h3 {
        font-size: 2em;
        margin-bottom: 2em;
      }
      h3,
      p {
        background-color: #fefefe;
        border-radius: 20px;
        padding: 1rem;
      }
      & div {
        padding: 2em;
      }
      &:nth-child(odd) .img__container {
        order: 2;
        padding: 0;
        width: 100%;
        height: 100%;
      }
      &:nth-child(even) .img__container {
        padding: 0;
        width: 100%;
        height: 100%;
      }
    }
    .verticalLine {
      position: absolute;
      z-index: 1;
      height: inherit;
      width: 6px;
      background-color: white;
      left: calc(50% - 3px);
    }
  }
}
