@import "scss/abstracts/mixins";
@import "scss/abstracts/colors";

.home {
  background: linear-gradient(#666, black);
  .banner {
    margin: auto;
    padding: 2em;
    width: 100vh;
    h2 {
      font-size: 2em;
      font-weight: 100;
      font-family: "Work Sans";
      color: white;
      white-space: nowrap;
      text-align: center;
      margin: 40% auto auto;
      border-bottom: solid 1px $color-indigo-light;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      padding: 0.25em;
      width: 300px;
      backdrop-filter: blur(4px);
    }
  }
  .container {
    height: 3000px;
    margin: auto;
    overflow: clip;
    padding: 0 2rem;
    max-width: 1200px;
    .card {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 600px;
      grid-gap: 4px;
      margin: 100px 0 400px 0;
      background: transparent !important;
      border: none;
      img {
        height: 100%;
        width: 100%;
      }
      h2,
      p {
        border-radius: 20px;
        padding: 2rem;
      }
      h2 {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: solid 1px $color-indigo-light;
        font-size: 2.4em;
        margin-bottom: 2em;
        font-family: "Work Sans";
        color: $color-indigo-light;
      }
      p {
        font-size: 1.5em;
        background-color: #fefefe;
        border-bottom: solid 4px $color-indigo-light;
      }
      & div {
        padding: 2em;
      }
      .img__container {
        padding: 0;
        width: 100%;
        height: 100%;
      }
      &:nth-child(odd) .img__container {
        order: 2;
      }
      &:nth-child(even) .img__container img {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
      }
      &:nth-child(odd) .img__container img {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
      }
    }
    .verticalLine {
      position: absolute;
      z-index: 1;
      height: 2600px;
      width: 4px;
      background-color: white;
      left: calc(50% - 2px);
    }
  }
}

#lastCard {
  margin-bottom: 100px;
}
#accountabuddy {
  width: 280px;
}
