//breakpoints

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) {
      @content;
    }
  } @else if $point == laptop {
    @media (min-width: 64em) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: 50em) {
      @content;
    }
  } @else if $point == phablet {
    @media (min-width: 37.5em) {
      @content;
    }
  } @else if $point == mobileonly {
    @media (max-width: 37.5em) {
      @content;
    }
  } @else if $point == handheld {
    @media (max-width: 28.125em) {
      @content;
    }
  }
}

// flex

//row
@mixin flex-row-spaceEvenly {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@mixin flex-row-spaceBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
//col
@mixin flex-col-spaceEvenly {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

// headings

@mixin heading {
  margin-bottom: 0.35em;
  line-height: 1.2;
  color: inherit;
}

@mixin heading-1 {
  @include heading;
  font-size: 3.375em;
}

@mixin heading-2 {
  @include heading;
  font-size: 2.966em;
}

@mixin heading-3 {
  @include heading;
  font-size: 1.5em;
}

@mixin heading-4 {
  @include heading;
  font-size: 1.318em;
}

@mixin heading-5 {
  @include heading;
  font-size: 1em;
}

@mixin heading-6 {
  @include heading;
  font-size: 0.875em;
}

//clearfix

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
  zoom: 1;
}
