//reads all the scss files

//abstracts
@import "scss/abstracts/mixins";
@import "scss/abstracts/colors";

//fonts
@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Open+Sans&display=swap");

//stylesheets
@import "scss/components/home";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Heebo", sans-serif;
  background: #f9f9f9;
  font-size: 1rem;
}
